.bugList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 43px;
  height: 40px;
  align-items: center;
}

.tick {
  margin-left: 10px;
}

.button-bugs {
  width: 242px;
  height: 40px;
  border-radius: 16px;
  background: #ffd600;
  color: black;
}

.button-bugs:hover {
  box-shadow: 0px 6px 30px rgba(255, 214, 0, 0.52);
  backdrop-filter: blur(15px);
  color: white;
}

.addButtons {
  display: flex;
  height: 40px;
}

.addButtons > li:nth-last-child(n + 2) {
  margin-right: 20px;
}

.bug {
  width: 25px;
  height: 19px;
}

.cod {
  height: 100%;
  width: 160px;
  background-color: #f6f6f6;
  text-align: center;
  cursor: pointer;
  position: relative;
  opacity: 0.7;
  padding-top: 10px;
}

.cod:hover {
  background: #ebebeb;
}

.cod:hover .toCopyText {
  display: block;
}

.toCopyText {
  display: none;
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -40px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
  border-radius: 23px;
}

.copied {
  display: none;
  position: absolute;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -40px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 23px;
}

.img-list {
  width: 43px;
  height: 40px;
  display: flex;
  background-color: #f6f6f6;
  cursor: pointer;
}

.img-list:hover {
  background-color: #ebebeb;
}

.img-list-question {
  width: 9px;
  height: 13px;
  margin: 11px auto 0;
}

.img-list-logout {
  width: 20px;
  height: 20px;
  margin: 8px auto 0;
}

.bugLink {
  cursor: pointer;
}
