.header {
  max-width: 1807px;
  display: flex;
  margin: 0 auto;
  padding: 35px 10px 0 10px;
  align-items: center;
  justify-content: space-between;
}

.header-min {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 20px 10px 0 10px;
  }
  .header > a {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 920px) {
  .header-min {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 0 10px;
  }
  .header {
    display: none;
  }
  .header-min__logosBlock {
    display: flex;
    justify-content: space-between;
  }
}

.header__wrapp {
  display: flex;
  align-items: center;
  width: 677px;
}

.header__wrapp > img {
  margin-left: 20px;
}

.header__selects {
  display: flex;
  width: auto;
  padding-left: 20px;
}

.header__block {
  display: flex;
  height: 40px;
}

@media screen and (max-width: 920px) {
  .header__block {
    margin-top: 20px;
    align-items: center;
  }
}

.header__selects > :nth-last-child(n + 2) {
  margin-right: 20px;
}

@media screen and (max-width: 1024px) {
  .header__selects {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .header__selects > :nth-last-child(n + 2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .header__selects {
    flex-direction: column;
  }
}

.header__block > button {
  border: none;
  background-color: rgba(246, 246, 246, 0.4);
  width: 40px;
  height: 40px;
}

.select__container {
  width: 200px;
  height: 40px;
}

@media screen and (max-width: 500px) {
  .select__container {
    margin-bottom: 10px;
  }
}

.select {
  position: relative;
}

.select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #ebebeb transparent transparent transparent;
  pointer-events: none;
  background-image: url(../images/logos.png);
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}

.select select {
  width: 200px;
  display: block;
  padding-left: 10px;
  height: 40px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 1rem;
  color: #444;
}

.header__buttonBlock {
  display: flex;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  max-width: 343px;
}

@media screen and (max-width: 650px) {
  .header__buttonBlock {
    flex-direction: column;
  }
}

.header__buttonBlock > button {
  border: none;
  background: transparent;
}

.header__buttonBlock > button:first-child {
  width: 132px;
  padding: 10px;
  border-right: 1px solid #ebebeb;
}

@media screen and (max-width: 650px) {
  .header__buttonBlock > button:first-child {
    width: 198px;
    border-right: none;
    text-align: left;
  }
}

.header__buttonBlock > button:last-child {
  width: 198px;
  padding: 10px;
}

.inside-block {
  display: flex;
}

.inside-block > div {
  display: flex;
  text-align: center;
}

.inside-block > div > img {
  margin-left: 40px;
}

.header__profile {
  width: 32px;
  height: 32px;
}
