.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}

.main__header > li {
  display: flex;
  align-items: center;
}

.nav-tabs {
  display: flex;
  cursor: pointer;
}

.nav-tab.active {
  display: inline;
  cursor: pointer;
  border-bottom: 2px solid #ffd600;
  font-weight: 600;
}

.tab-pane {
  display: none;
  flex-direction: column;
}
.tab-pane.active {
  display: flex;
}

.nav-tabs {
  display: grid;
  grid-template-columns: 90px 290px 200px;
  grid-gap: 20px;
  height: 20px;
  font-weight: 400;
  align-items: center;
}

.tab-content {
  width: 100%;
  overflow-x: scroll;
}
